{{define "html"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- BEGIN Pre-requisites -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
  </script>
  <!-- END Pre-requisites -->
  <script src="js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="css/page.css">
  <meta name="google-signin-client_id" content="{{.ClientID}}">
  <meta name="google-signin-scope" content="profile email">
</head>
<body>
<h5>{{.Title}}</h5>
{{if not .IsLoggedIn}}
{{template "login-panel"}}
{{else}}
<form name="logoutForm" method="post" action="/logout">
  <p><INPUT type="submit" value="Logout" name="logout"></p>
</form>
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>Welcome user #{{.UserID}}</b></h1>
  <p>Your username is <span class="w3-tag">{{.Username}}</span></p>
</header>
{{end}}
</body>
</html>
{{end}}